# .aliases


#git aliases 
alias gd="git diff -U50 --color"
alias gp="git pull"
alias gm="git merge"
alias ga="git add"
alias gco="git checkout"
alias gb="git branch"
alias gs="git status"
alias gbd="git branch -D"




# run sv instead of vim to open screen tabs
alias vim="sv"

# shell stuff
alias dotfiles="cd ~/dotfiles"
alias sourcebashrc="source ~/.bashrc"
alias lls="ls -la"
alias lss="ls -la"
alias lll="ll -la"
alias cp="cp -r"
