# .aliases


#navigation aliases
alias repos="cd ~/repos"

#git aliases 
alias gd="git diff -U50 --color"
alias gp="git pull"
alias gm="git merge"
alias ga="git add"
alias gco="git checkout"
alias gb="git branch"
alias gs="git status"
alias gbd="git branch -D"

# syn aliases
alias fcin="finem -a-commit origin/ci -noop"
alias fci="finem -a-commit origin/ci"
alias fqan="finem -a-commit origin/qa -noop"
alias fqa="finem -a-commit origin/qa"

#exclude dist files from diff
alias gdn="git diff --name-only | grep -v '^dist/' "
alias gdncs="git diff --name-only | grep -v '^dist/' | xargs -n1 cs"

# run sv instead of vim to open screen tabs
alias vim="sv"

# shell stuff
alias dotfiles="cd ~/dotfiles"
alias sourcebashrc="source ~/.bashrc"
alias lls="ls -la"
alias lss="ls -la"
alias lll="ll -la"
alias cp="cp -r"
