# .aliases


#git aliases
alias gd="git diff -U50 --color"

#navigation aliases
alias nbr="cd ~/repos/news-break-app"
alias repos="cd ~/repos"

#git shortcuts
alias gp="git pull"
alias gm="git merge"
alias ga="git add"
alias gco="git checkout"
alias gb="git branch"
alias gs="git status -sb"
alias gbd="git branch -D"
alias fcin="finem -a-commit origin/ci -noop"
alias fci="finem -a-commit origin/ci"
alias fqan="finem -a-commit origin/qa -noop"
alias fqa="finem -a-commit origin/qa"

#exclude dist files from diff
alias gdn="git diff --name-only | grep -v '^dist/' "
alias gdncs="git diff --name-only | grep -v '^dist/' | xargs -n1 cs"
alias gdnqa="git diff --name-only origin/ci | grep -v '^dist/' "
alias gdci="git diff origin/ci --name-only | grep -v '^dist/' | xargs -n1 cs"
alias gdnci="git diff --name-only origin/ci | grep -v '^dist/' "
alias gdncics="git diff origin/ci --name-only | grep -v '^dist/' | xargs -n1 cs"
alias gdnqa="git diff --name-only origin/qa | grep -v '^dist/' "
alias gdnqacs="git diff origin/qa --name-only | grep -v '^dist/' | xargs -n1 cs"
alias gdci="git diff origin/ci --name-only | grep -v '^dist/' | xargs git diff origin/ci"
alias gdqa="git diff origin/qa --name-only | grep -v '^dist/' | xargs git diff origin/qa"

# run sv instead of vim to open screen tabs
alias vim="sv"
